<configuration>
    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
        <projectId>${GOOGLE_CLOUD_PROJECT}</projectId>
        <logName>arcade-phito-log</logName>
    </appender>

    <root level="INFO">
        <appender-ref ref="CLOUD"/>
    </root>
</configuration>
